theme = "phil"

[editor]
cursorline = true
rulers = [88]
text-width = 88
bufferline = "multiple"
end-of-line-diagnostics = "hint"

[editor.whitespace.render]
space = "all"
tab = "all"
nbsp = "all"
nnbsp = "all"
newline = "none"

[editor.file-picker]
hidden = false
git-ignore = false
git-global = false

[editor.cursor-shape]
insert = "bar"

[editor.inline-diagnostics]
cursor-line = "warning"

# <https://docs.helix-editor.com/remapping.html>
[keys.normal]
"ret" = ["open_below"]
# run `fzmake` in current directory in a pop-up alacritty window
C-m = ":run-shell-command alacritty --class dialog --title fzmake --hold --option window.dimensions.columns=70 --option window.dimensions.lines=30 --command fzmake"

[keys.normal." ".";"]
# open URLs, file paths, etc.
# use :pipe-to to ignore the output of xdg-open
o = ":pipe-to xargs bgopen"
r = ":reflow"

# create a new minor mode bound to `<space>;`
# d for "docker"
[keys.normal." ".";".d]
u = ":run-shell-command docker compose up --detach"
d = ":run-shell-command docker compose down"

# g for "git"
[keys.normal." ".";".g]
d = ":run-shell-command git diff"
s = ":run-shell-command git status"

# markdown checkbox functions
[keys.normal." ".";".c]
c = "@X<space>;c<C-c>;l"   # check a checkbox
u = "@X<space>;c<C-u>"     # uncheck a checkbox
n = "@gll<space>;c<C-n>A"  # new checkbox

# "internal" keybindings (only used to enable the above):
C-c = ":pipe sed -r 's|[\\*-] \\[ \\]|* [x]|'"
C-u = ":pipe sed -r 's|[\\*-] \\[.\\]|* [ ]|'"
C-n = ":pipe echo; echo '* [ ] '"

# tagref
[keys.normal." ".";".t]
y = "@ma[y"             # copy tag
P = "@P<space>;t<C-r>"  # paste tag as a ref
C-r = ":pipe sed -r 's|^\\[tag:|[ref:|'"  # replace `[tag:` with `[ref:`
C-t = ":pipe sed -r 's|^\\[ref:|[tag:|'"  # replace `[ref:` with `[tag:`
