[general]
status_path = "~/.local/share/vdirsyncer/status/"

[pair calendar]
a = "calendar_fastmail"
b = "calendar_local"
collections = [${CALENDARS_TO_SYNC}]

[pair partner]
a = "calendar_fastmail"
b = "calendar_local"
collections = [${PARTNER_CALENDARS_TO_SYNC}]
conflict_resolution = "a wins"

[pair taskwarrior]
a = "calendar_fastmail"
b = "calendar_local"
collections = [${TASKWARRIOR_CALENDARS_TO_SYNC}]
conflict_resolution = "b wins"

[storage calendar_local]
type = "filesystem"
path = "~/.local/share/lappy-pim/calendar/"
fileext = ".ics"

[storage calendar_fastmail]
type = "caldav"
url = "https://caldav.fastmail.com/dav/calendars/user/${FASTMAIL_USER_ACCT}/"
username = "${FASTMAIL_USER_ACCT}"
password = "${FASTMAIL_CALDAV_PASSWORD}"
