# shellcheck shell=bash
strict_env

export DNS_PROFILE="mullvad-all" # block everything
export DOCKER_DNS_SERVER="9.9.9.9" # quad9 is better for Docker
export PUBLIC_EMAIL="me@example.com"
export PUBLIC_NAME="Phil Crockett"
export PODCAST_FEEDS="$(cat <<EOF
    # feeds here (keep 4 spaces in front of each line)
EOF
)"
export SIGNAL_PHONE_NUMBER="+XXXXXXXXXXX"
export PRINTER_IP_ADDRESS="xxx.xxx.xxx.xxx"
export SCANNER_IP_ADDRESS="${PRINTER_IP_ADDRESS}"
export KHAL_DEFAULT_CALENDAR="phil"

PATH_add bin
