# shellcheck shell=bash
strict_env

export DNS_PROFILE="mullvad-all" # block everything
export DOCKER_DNS_SERVER="9.9.9.9" # quad9 is better for Docker
export PUBLIC_EMAIL="me@example.com"
export PUBLIC_NAME="Phil Crockett"
export PODCAST_FEEDS="$(cat <<EOF
    # feeds here (keep 4 spaces in front of each line)
EOF
)"
export SIGNAL_PHONE_NUMBER="+XXXXXXXXXXX"
export PRINTER_IP_ADDRESS="xxx.xxx.xxx.xxx"
export SCANNER_IP_ADDRESS="${PRINTER_IP_ADDRESS}"
export COOLIFY_IP_ADDRESS="xxx.xxx.xxx.xxx"
export HISTER_IP_ADDRESS="${COOLIFY_IP_ADDRESS}"
export KHAL_DEFAULT_CALENDAR="phil"
export HOMELAB_VMHOST_HOSTNAME="TODO"
export PACMAN_REPOSITORY_REGION="Germany"  # use `reflector --list-countries` for comprehensive list

export HISTER_ACCESS_TOKEN="" # populate with `python -c "import secrets; print(secrets.token_urlsafe(32))"`
export HISTER_INDEXER_SETTINGS="
indexer:
  detect_languages: true
  keep_stopwords: false
  directories:
  - path: '~/some/path'
    filetypes: ['md']
    # patterns: ['doc_*']
    label: 'kb'
    delete_on_remove: true
  - path: '~/some/other/path'
    filetypes: ['md']
    delete_on_remove: true
  max_file_size_mb: 1
"

PATH_add bin
