# shellcheck shell=bash
strict_env

export PUBLIC_EMAIL="me@example.com"
export PUBLIC_NAME="Phil Crockett"
export PODCAST_FEEDS="$(cat <<EOF
    # feeds here (keep 4 spaces in front of each line)
EOF
)"
export SIGNAL_PHONE_NUMBER="+XXXXXXXXXXX"

PATH_add bin
