[${PERSONAL_EMAIL_ACCT_NAME}]
source            = ${PERSONAL_EMAIL_IMAP}
outgoing          = ${PERSONAL_EMAIL_SMTP}
default           = INBOX
from              = ${PERSONAL_EMAIL_USER_FULL_NAME} <${PERSONAL_EMAIL_ADDRESS}>
aliases           = <*@${PERSONAL_EMAIL_DOMAIN}>
use-envelope-from = true
copy-to           = Sent
cache-headers     = true
cache-state       = true
cache-blobs       = false
