data_dir = "${HOME}/.local/share/gurk"
first_name_only = false
show_receipts = true
bell = true
colored_messages = false
default_keybindings = true

[user]
name = "Phil"
phone_number = "${SIGNAL_PHONE_NUMBER}"

[keybindings]
message_selected.ctrl-o = "open_file"
message_selected.ctrl-u = "open_url"
